extends ../layouts/default
include ../mixins/home_mixins

block content	
	+side_menu()

	div#defaultPopup.container-fluid.popup
	div#backgroundPopup

	div.container-fluid.pictures
		div.row.row-no-padding
			//- div.col-md-5.tech_addiction_link
			div.col-md-5.blog_link
				+home_picture("dude_crop.jpg", "TECH ADDICTION", 'tech_addiction blue')
			div.col-md-7
				div.row
					div.col-md-5.about_link
						+home_picture("hands.png", "ABOUT", 'about_hour')
					div.col-md-7.cyberbullying_link
						+home_picture("girls.jpg", "CYBERBULLYING + ABUSE", 'cyberbullying')
				div.col-md-12.cybercrime_link
					+home_picture("hacker.jpg", "CYBERCRIME NEWS", "hacker")
		div.row.row-no-padding
			div.col-md-12.welcome_link
				+home_picture("people.jpg", "WELCOME TO OUR HOUR", "welcome blue")
		div.row.row-no-padding
			div.col-md-4
				div.row.blog_link
					+home_picture("desk.jpg", "BLOG", "desk")
				div.row.row-no-padding
					div.col-md-12
						+home_picture("class.jpg", "SCHOOLS + PARENTS", "school")
				div.row.row-no-padding
					div.col-md-6
						+home_picture("phone.jpg", "CONTACT US", "contact")
					div.col-md-6
						+home_picture("work.jpg", "CORPORATE PARTNERS", "corporate")
			div.col-md-8
				+home_picture("greengirl.jpg", "TIPS FOR TEENS", "teenietips")

	a(href="yanng")
		div.container-fluid.yanng_footer.yanng_link
			img(src='images/yanng/11.5.png').yanng_girls.float_left
			img(src='images/yanng/logo.png').logo.float_left
			div.float_left Exclusive Tips from the Yes and No No Girls
