extends ../layouts/tib_base
include ../mixins/home_mixins

block content	
	+side_menu()

	div#defaultPopup.container-fluid.popup
	div#backgroundPopup

	div.container-fluid.pictures
		div.row.row-no-padding
			div.col-xs-6
				img.img-responsive(src='images/home/home_girls.jpg')
			div.col-xs-6
				div.row
					div.col-xs-6
						+home_picture("home_dude.jpg", "TECH ADDICTION", 'tech_addiction tech_addiction_link')
					div.col-xs-6
						+home_picture("home_shoes.jpg", "CYBERBULLYING + ABUSE", 'cyberbullying cyberbullying_link')
				div.row
					div.col-xs-6
						+home_picture("home_stuff.jpg", "ABOUT", 'about_hour about_link')
					div.col-xs-6
						+home_picture("home_cuffs.jpg", "CYBERCRIME NEWS", "hacker cybercrime_link")
		div.row.row-no-padding
			div.col-xs-12
				span.textoverlay(class="welcome welcome_link") WELCOME TO OUR HOUR
		div.row.row-no-padding
			div.col-xs-6
				div.row
					div.col-xs-6
						a(href='/blog')
							+home_picture("home_blog.gif", "BLOG", "desk")
					div.col-xs-6
						+home_picture("home_lady.jpg", "SCHOOLS + PARENTS", "school schools_link")
				div.row.row-no-padding
					div.col-xs-6
						+home_picture("home_door.jpg", "CONTACT US", "contact contact_us_link")
					div.col-xs-6
						+home_picture("home_knees.jpg", "CORPORATE PARTNERS", "corporate corporate_link")
			div.col-xs-6
				+home_picture("home_selfie.jpg", "TIPS FOR TEENS", "teenietips tips_for_teens_link")

	a(href="yanng")
		div.container-fluid.yanng_footer.yanng_link
			img(src='images/yanng/11.5.png').yanng_girls.float_left
			img(src='images/yanng/logo.png').logo.float_left
			div.float_left Exclusive Tips from the Yes and No No Girls
