extends ../layouts/tib_base
include ../mixins/home_mixins

block content	
	+side_menu()

	div#defaultPopup.container-fluid.popup
	div#backgroundPopup

	div.container-fluid.pictures
		div.row.row-no-padding
			div.video_row
				iframe(id="player" src="https://player.vimeo.com/video/126772459?autoplay=1", width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
			div.col-md-6
				+home_picture("home_girls.jpg", "VIDEOS", 'welcome_video_link')
			div.col-md-6
				div.row
					div.col-xs-6
						+home_picture("home_dude.jpg", "TECH ADDICTION", 'tech_addiction tech_addiction_link')
					div.col-xs-6
						+home_picture("home_shoes.jpg", "CYBERBULLYING + ABUSE", 'cyberbullying cyberbullying_link', 'report online abuse', 'report_link')
				div.row
					div.col-xs-6.about_link.loop
						div#about1.about_gif
							+home_picture("home_stuff.jpg", "ABOUT", "")
						div#about2.about_gif
							div A global movement
						div#about3.about_gif
							div to co-create a new
						div#about4.about_gif
							div technology value system
					div.col-xs-6
						+home_picture("home_cuffs.jpg", "CYBERCRIME NEWS", "hacker cybercrime_link", "code of conduct", "establish-a-tech-policy-link")
		div.row.row-no-padding
			div.col-xs-12.welcome_link
				span.textoverlay(class="welcome") WELCOME TO OUR HOUR
		div.row.row-no-padding
			div.col-md-6
				div.row
					div.col-xs-6.loop
						a(href='/blog')
							div#blog1.blog_gif
								+home_picture("home_type.jpg", "read our blog", "")
							div#blog2.blog_gif
								div Promote safe tech use
							div#blog3.blog_gif
								div Co-create guidelines
							div#blog4.blog_gif
								div Educate tech users
					div.col-xs-6
						+home_picture("home_lady.jpg", "SCHOOLS + PARENTS", "school schools_link", "share tips", "share-tips-link")
				div.row.row-no-padding
					div.col-xs-6
						+home_picture("home_door.jpg", "CONTACT US", "contact contact_us_link", "join our email list", "join-our-e-mail-list-link")
					div.col-xs-6
						+home_picture("home_knees.jpg", "CORPORATE PARTNERS", "corporate corporate_link")
			div.col-md-6
				+home_picture("home_selfie.jpg", "TIPS FOR TEENS", "teenietips tips_for_teens_link", "share your story", "share_share_link")

	a(href="yanng")
		div.container-fluid.yanng_footer.yanng_link
			img(src='images/yanng/11.5.png').yanng_girls.float_left
			img(src='images/yanng/logo.png').logo.float_left
			div.float_left Exclusive Tips from the Yes and No No Girls
				a(href='yanng#create')
					div.create_your_own create your own
