extends ../layouts/default
include yanng_home

block content

	div.container-fluid#yanng_header.yanng_title 
		div.yanng_header_button X
		h2 Exclusive Tips from the Yes and No No Girls

	div.container-fluid#yanng_tips_header
		div.yanng_header_button X

	div.container-fluid.yanng_body
		include yanng_home		

