extends ./blog_base

block content
	+side_menu_foreign
	div.blog_body

		div.header_container.not_mobile
			table.table.table-header-rotated
				tr
					+blog_section_title("YANNG")
					+blog_section_title("Poll-A-Thon")
					+blog_section_title("Downloadables")
					+blog_section_title("Games")
					+blog_section_title("Join")
					+blog_section_title("Quizzes")
					+blog_section_title("Causes")
					+blog_section_title("Videos", 'welcome_video_diagonal')

		div.container-fluid.title_header.not_mobile
			a(href='/blog')
				div.title Tech It Back Blog
			div.welcome_video_header
				+blog_section_link('/#welcome_video_link','/images/welcome_icons/5.4.png')
			+blog_section_link('/#welcome_causes_link','/images/welcome_icons/5.5.png')
			+blog_section_link('/#welcome_quizzes_link','/images/welcome_icons/5.6.png')
			+blog_section_link('/#welcome_join_link','/images/welcome_icons/5.1.png')
			+blog_section_link('/#welcome_games_link','/images/welcome_icons/5.2.png')
			+blog_section_link('/#welcome_downloadable_link','/images/welcome_icons/5.3.png')
			+blog_section_link('/blog/pollathon','/images/welcome_icons/6.11.png')
			+blog_section_link('/yanng','/images/menu_icons/12.12.png')

		nav.navbar.navbar-default.mobile_only.blogmobile
			.navbar-header
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog-sections")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar") 
					span(class="icon-bar") 
					span(class="icon-bar")
				a(class="navbar-brand" href="/blog") Tech It Back Blog

			div(class="collapse navbar-collapse" id="blog-sections")
				ul(class="nav navbar-nav")
					+blog_section_mobile('Tech Health', 'tech', selected)
					+blog_section_mobile('Cybercrime', 'cybercrime', selected)
					+blog_section_mobile('Cyberbullying', 'cyberbullying', selected)
					+blog_section_mobile('Online Abuse', 'sexting', selected)
					+blog_section_mobile('Technology News', 'app', selected)
					+blog_section_mobile('Yes and No Nos', 'tips', selected)
					+blog_section_mobile('Tech It Back Hour', 'preparing', selected)
					+blog_section_mobile('Op-Ed', 'op', selected)
					+blog_section_mobile('Ask Tech It Back', 'ask', selected)
					+blog_section_mobile('Corporate Initiatives', 'corporate', selected)


		div.container-fluid.blog_sections.not_mobile
			+blog_section('Tech Health', 'tech', 'small', selected)
			+blog_section('Cybercrime', 'cybercrime', 'small', selected)
			+blog_section('Cyberbullying', 'cyberbullying', 'small', selected)
			+blog_section('Online Abuse', 'sexting', 'small', selected)
			+blog_section('Technology News', 'app', 'small', selected)
			+blog_section('Yes and No Nos', 'tips', 'small', selected)
			+blog_section('Tech It Back Hour', 'preparing', 'small', selected)
			+blog_section('Op-Ed', 'op', 'small', selected)
			+blog_section('Ask Tech It Back', 'ask', 'small', selected)
			+blog_section('Corporate Initiatives', 'corporate', 'small', selected)
		block blog_body