div.blog_body

	//- div.container-fluid.blog_sections
	//- 	+blog_section_title("Poll-A-Thon")
	//- 	+blog_section_title("Downloadables")
	//- 	+blog_section_title("Games")
	//- 	+blog_section_title("Join")
	//- 	+blog_section_title("Quizzes")
	//- 	+blog_section_title("Causes")
	//- 	+blog_section_title("Videos")
	div.container-fluid.title_header 
		div.title Tech It Off Blog
		img.section_icon(src='images/welcome_icons/5.4.png')
		img.section_icon(src='images/welcome_icons/5.5.png')
		img.section_icon(src='images/welcome_icons/5.6.png')
		img.section_icon(src='images/welcome_icons/5.2.png')
		img.section_icon(src='images/welcome_icons/5.3.png')
		img.section_icon(src='images/welcome_icons/6.11.png')
		
		//- div.blog_search

	div.container-fluid.blog_sections
		+blog_section('Tech Health', 'blog_tech_link', 'small', selected)
		+blog_section('Cybercrime', 'blog_cybercrime_link', 'small', selected)
		+blog_section('Cyberbullying', 'blog_cyberbullying_link', 'small', selected)
		+blog_section('Sexting and Other Abuses', 'blog_sexting_link', none, selected)
		+blog_section('App Update', 'blog_app_link', 'small', selected)
		+blog_section('Tips', 'blog_tips_link', 'small', selected)
		+blog_section('Preparing For the Hour', 'blog_preparing_link', none, selected)
		+blog_section('Op-Ed', 'blog_op_link', 'small', selected)
		+blog_section('Ask Tech It Back', 'blog_ask_link', none, selected)
		+blog_section('Corporate Initiatives', 'blog_corporate_link', none, selected)
	block blog_body