div.blog_body

	//- div.container-fluid.blog_sections
	//- 	+blog_section_title("Poll-A-Thon")
	//- 	+blog_section_title("Downloadables")
	//- 	+blog_section_title("Games")
	//- 	+blog_section_title("Join")
	//- 	+blog_section_title("Quizzes")
	//- 	+blog_section_title("Causes")
	//- 	+blog_section_title("Videos")
	div.container-fluid.title_header 
		div.title Tech It Off Blog
		img.section_icon(src='images/welcome_icons/5.4.png')
		img.section_icon(src='images/welcome_icons/5.5.png')
		img.section_icon(src='images/welcome_icons/5.6.png')
		img.section_icon(src='images/welcome_icons/5.2.png')
		img.section_icon(src='images/welcome_icons/5.3.png')
		img.section_icon(src='images/welcome_icons/6.11.png')
		
		//- div.blog_search

	div.container-fluid.blog_sections
		div.blog_section.tech_health_link.small 	Tech Health
		div.blog_section.cybercrime_link.small 	Cybercrime
		div.blog_section.cyberbullying_link.small	Cyberbullying
		div.blog_section.sexting_link		Sexting and Other Abuses
		div.blog_section.app_link.small 		App Update
		div.blog_section.tips_link.small 	Tips
		div.blog_section.preparing_link 		Preparing For the Hour
		div.blog_section.oped_link.small 	Op-Ed
		div.blog_section.ask_link			Ask Tech It Back
		div.blog_section.corporate_link 		Corporate Initiatives

	block blog_body