include ../../mixins/yanng_header

+yanng_header("About Yes and No No Girls")

div.container-fluid.yanng_body
	div.yanng_about2
		div.row
			div.col-xs-12.col-sm-6
				a(href='YANNG_ebook.pdf') 
					img(src='/images/yanng/11.111.png')
			div.col-xs-12.col-sm-6
				p()!=text.content.brief
		div.about_link < Previous Page