include ../../mixins/yanng_header

+yanng_header("Yes and No No Girls (AKA Yanng): Tech Etiquette")

div.container-fluid.yanng_body
	div.etiquette_body
		img(src='/images/yanng/11.5.png')
		p()!=text.content.brief
		