include ../../mixins/yanng_tips_header

div.container-fluid#yanng_tips_header
		div.yanng_header_button.yanng_home_link X

div.container-fluid.yanng_body
	div#tips_home
		div.tips_picture.tip1_link.tip_link 
			img(src='images/yanng/11.31.png')
			p Tips
		div.tips_begin_text.tip1_link.tip_link Click Here to Begin Tips