include ../../mixins/yanng_tips_header

div.container-fluid#yanng_tips_header
		div.yanng_header_button X

div.container-fluid.yanng_body
	div#tips_home
		div.tips_picture.tips_begin Tips
		div.tips_begin_text.tips_begin Click Here to Begin Tips