include ../../mixins/yanng_header

+yanng_header("About Yes and No No Girls")

div.container-fluid.yanng_body
	div.about_body
			p()!=text.content.brief
			img(src='/images/yanng/11.5.png')
		div.next_page Next Page >