include ../../mixins/yanng_girls

+yanng_header("Meet the Yes and No No Girls")
div.container-fluid.yanng_body
	div.meetus_body
		p()!=text.content.brief
		div.row_container
			+yanng_girl("all", none)