include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header("ABOUT TECH IT OFF", "12.2.png", "ABOUT")
block body
	+about_section("about", "tech_addiction_link", 'about_intralink_link',
					about_intralink, '_intralink',
					questions, '_questions',
					about_tech.image.url, about_tech.content.brief)