include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header("QUESTIONS", "12.2.png", "ABOUT", "about_questions_link")
block body
	+about_question(questions.image.url, about_intralink, '_intralink',
										 about_tech, '',
										 all_questions,
										 question)