include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header("ABOUT INTRALINK GLOBAL", "12.2.png", "ABOUT")
block body
	+about_section("about", "about_link", 'questions_link',
					questions, '_questions',
					about_tech, '',
					about_intralink.image.url, about_intralink.content.brief)