include ../../mixins/home_mixins
include ../../mixins/blog_mixins
extends ../../layouts/blog_layout

block blog_body
	div.container-fluid
		div.row
			div.col-md-9.pollathon_body
				h1 POLL-A-THON
				h4 Vote for your favorites and see how you match up to other users with the Tech It Back Poll-A-Thon!
				div.row.poll
					div.col-sm-4()!=left.html.brief
					div.col-sm-4()!=middle.html.brief
					div.col-sm-4()!=right.html.brief

			div.col-md-3.favorites
				+blog_submit()
				+blog_favorites(favorites)