include ../../mixins/home_mixins
include ../../mixins/blog_mixins
extends ../../layouts/blog_layout

block blog_body
	div.container-fluid
		div.row
			div.col-md-9.blog_article_content
				a(href='/blog')
					div.link_to_blog_home Back to main page >>>
				div.article_content
					if post.image
						div.article_image
							img(src=post.image.url)
					div.article_title #{post.title}
					div.article_body()!=post.content.brief
				div.article_comments 
					div.row
						div.col-md-2
							div.right_align comment
						div.col-md-10
							div.comment_box
								form(action='/article/#{post.id}/comment', method='POST')
									input(name='name', type='text', class='form-control name', placeholder='Your name')
									textarea.form-control.text(name="text", maxlength=500)
									div.center_align
										button.btn(type='submit') Submit
					div.row
						div.col-md-2
							if comments.length
								div.right_align comments
						div.col-md-10
							div.comments
								each comment in comments
									+article_comment(comment)
			div.col-md-3.favorites
				+blog_favorites(favorites)