include ../../mixins/home_mixins
include ../../mixins/blog_mixins
extends ../../layouts/blog_layout

block blog_body
	div.container-fluid.blog_content
		div.row
			div.col-md-4.preview_column_1
				+blog_preview(post1)
				+blog_preview(post2)
			div.col-md-4.preview_column_2
				+blog_preview(post3)
				+blog_preview(post4)
			div.col-md-3

