include ../../mixins/home_mixins
include ../../mixins/home_mixins_v2
extends ../../layouts/popup_section

block header
	+popup_header("CORPORATE PARTNERS", "12.9.png", "CORPORATE PARTNERS", "corporate_link", "corporate_link")
block left_arrow
	+arrow("left", "partnerwithus-link")
block body
	div.container-fluid.corporate_body
		
		.coming Content coming soon!
				
block right_arrow
	+arrow("right", "partnerwithus-link")