include ../../mixins/home_mixins
include ../../mixins/home_mixins_v2
extends ../../layouts/popup_section

block header
	+popup_header("PARTNER WITH US", "12.9.png", "CORPORATE PARTNERS")
block left_arrow
block body
	div.container-fluid.corporate_body
		div.thanks Thank you for your submission!
			br
			| We will contact you for further discussion.	
block right_arrow