include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header(cybersexting.title, "12.6.png", "CYBERCRIME NEWS", "crime_mistakes_link")
block body
	+cybercrime_mistake("cybercrime_section", "crime_bullying_link", 'crime_stalking_link',
					cyberstalking, 'crime_stalking_link',
					bullying, 'crime_bullying_link',
					cybersexting.image.url, cybersexting)