include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header("Log It: Report Online Abuse", "12.4.png", "CYBERBULLYING + ABUSE", "cyberbullying_link")
block body
	div.container-fluid.report_it_thanks
		div.row
			div.col-md-12
				div.thanks Thank you for your report.