include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header("Log It: Report Online Abuse", "12.4.png", "CYBERBULLYING + ABUSE", "cyberbullying_link", "cyberbullying_link")
block body
	div.container-fluid.report_it_section
		div.row
			div.col-md-1
				img.arrow(src='images/left.png', class="share_link")
			div.col-md-10
				form(id="report_it_form" action="report_it_form" enctype="multipart/form-data")
					+report_it_input_row("Age", "age")
					+report_it_input_row("Country", "country")
					+report_it_input_row("State/Province", "state")
					+report_it_input_row("Social media site or webpage/URL", "url")
					// file input section
					div.form-group.row
						div.col-sm-2
						label(for="report_it_upload" class='col-sm-4 col-xs-12 control-label') Upload screen-shot photo:
						div.col-sm-3
							input(id="report_it_upload", name="upload", type='file', class='form-control file')
						div.col-sm-3
					p.textarea_desc Please give a short description of what you observed
					textarea.form-control(name="text", maxwords=500)
					div.counter 
						span 0
						| /500
					div.button_container
						button.button_style(type="submit") SUBMIT
			div.col-md-1
				img.arrow(src='images/right.png', class='online_abuse_link')