include ../../mixins/home_mixins
include ../../mixins/home_mixins_v2
extends ../../layouts/popup_section

block header
	+popup_header(main.title, "12.8.png", " MODELS + TIPS FOR SCHOOLS")
block left_arrow
	+arrow_with_link("left", left.key)
block body
	div.container-fluid.schools_body
		div.row
			div.col-md-6
				img(src=main.image.url)
				div.mobile_only.text()!=main.content.brief
				div.row
					+thumbnail_pic_five(one)
					+thumbnail_pic_five(two)
					+thumbnail_pic_five(three)
					+thumbnail_pic_five(four)
					+thumbnail_pic_five(five)
			div.col-md-6
				div.not_mobile.text()!=main.content.brief
block right_arrow
	+arrow_with_link("right", right.key)