include ../../mixins/home_mixins
include ../../mixins/home_mixins_v2
extends ../../layouts/popup_section

block header
	+popup_header("MODELS + TIPS FOR PARENTS", "12.8.png", " SCHOOLS + PARENTS", "schools_link", "schools_link")
block left_arrow
	+arrow_with_link("left", left.key)
block body
	div.container-fluid.schools_body
		div.row
			div.col-md-5
				img(src=main.image.url)
				div.title()!=main.content.brief
			div.col-md-7
				div.row
					div.col-md-4
						+popup_picture_v2(talk_it_out)
					div.col-md-4
						+popup_picture_v2(join_them)
					div.col-md-4
				div.row
					div.col-md-4
						+popup_picture_v2(keep_up_with_apps)
					div.col-md-4
						+popup_picture_v2(tech_check)
					div.col-md-4
						+popup_picture_v2(just_say_no)
				div.row
					div.col-md-4
						+popup_picture_v2(set_boundaries)
					div.col-md-4
						+popup_picture_v2(report_it)
						
block right_arrow
	+arrow_with_link("right", right.key)