include ../../mixins/home_mixins
include ../../mixins/home_mixins_v2
extends ../../layouts/popup_section

block header
	+popup_header("JOIN OUR EMAIL LIST", "12.8.png", " SCHOOLS + PARENTS", "schools_link")
block left_arrow
	a(href='/blog')
		+arrow_with_link("left", left.key)
block body
	div.container-fluid.schools_body.share
		div.row
			div.col-md-6
				+popup_picture_v2(share)
			div.col-md-6
				+popup_picture_v2(your)
block right_arrow
	+arrow_with_link("right", right.key)