include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header("SEE YOUR STORIES", "12.4.png", "CYBERBULLYING + ABUSE", "share_link")
block body
	div.container-fluid.share_your_stories_see
		div.row
			div.col-md-1
				img.arrow(src='images/left.png', class="share_share_link")
			div.col-md-10
				div Content coming soon!
			div.col-md-1
				img.arrow(src='images/right.png', class='share_share_link')