include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header("MULTITASKING", "12.5.png", "TECH ADDICTION")
block body
	+tech_addiction_section('multi','tech_addiction_sleep_link', 'tech_addiction_desens_link',
							sleep, 'sleep',
							desensitization, 'desens',
							stress, 'stress',
							addiction, 'addiction',
							multi.image.url, multi.content.brief)