include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header("TECH ADDICTION", null, null, "home_link", "tech_addiction_link")
block body
	div.container-fluid.tech_addiction#home
		div.row
			div.col-md-1
				a(href='/yanng')
					img.arrow(src='images/left.png')
			div.col-md-10.col-xs-12
				div.col-md-6.col-xs-12
					div.main_box
						img(src=home.image.url)
						span()!= home.content.brief
				div.col-md-4
					div.col-md-6
						+popup_picture(sleep, "tech_addiction_sleep_link")
						+popup_picture(multi, "tech_addiction_multi_link")
					div.col-md-6
						+popup_picture(desensitization, "tech_addiction_desens_link")
						+popup_picture(stress, "tech_addiction_stress_link")
				div.col-md-2
					+popup_picture(addiction, "tech_addiction_addiction_link")
			div.col-md-1
				img.arrow(src='images/right.png', class='about_link')