include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header("SLEEP", "12.5.png", "TECH ADDICTION")
block body
	+tech_addiction_section('sleep','tech_addiction_link', 'tech_addiction_multi_link',
							multi, 'multi',
							desensitization, 'desens',
							stress, 'stress',
							addiction, 'addiction',
							sleep.image.url, sleep.content.brief)