include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header("TECH ADDICTION", "12.5.png", "TECH ADDICTION")
block body
	+tech_addiction_section('addiction','tech_addiction_stress_link', 'tech_addiction_sleep_link',
							multi, 'multi',
							sleep, 'sleep',
							desensitization, 'desens',
							stress, 'stress',
							addiction.image.url, addiction.content.brief)