img#popup_exit(src='images/x.png')
div.popup_header#tech_addiction_home TECH ADDICTION
	div.container-fluid
		div.row
			div.col-md-1
				img.arrow(src='images/left.png')
			div.col-md-5
				div.row
					img(src=text.image.url)
				div.row
					span()!= text.content.brief
			div.col-md-5
			div.col-md-1
				img.arrow(src='images/right.png')