include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header(amanda.title, "12.4.png", "CYBERBULLYING + ABUSE", "movement_link", "cyberbullying_link")
block body
	+their_story(amanda, rebecca, 'ts_rebecca_link',
							marcus, 'ts_marcus_link')