include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header(marcus.title, "12.4.png", "CYBERBULLYING + ABUSE", "movement_link", "cyberbullying_link")
block body
	+their_story(marcus, amanda, 'ts_amanda_link',
						rebecca, 'ts_rebecca_link')