include ../../mixins/home_mixins
extends ../../layouts/home_popup

block header
	+popup_header(rebecca.title, "12.4.png", "CYBERBULLYING + ABUSE", "movement_link")
block body
	+their_story(rebecca, marcus, 'ts_marcus_link',
						amanda, 'ts_amanda_link')