include ../../mixins/home_mixins
extends ../../layouts/welcome_section

block left_arrow
	+arrow("left", five.link)
block body
	div.downloadable.container
		each download, index in downloads
			div.col-md-4
				if download
					a(href=download.file.url)
						img(src=download.preview.url)
	div.bottom
block right_arrow
	+arrow("right", one.link)