include ../../mixins/home_mixins
extends ../../layouts/welcome_section

block left_arrow
	+arrow("left", five.link)
block body
	div.quizzes_body
		+quiz_link(realorfake)
		+quiz_link(techitoff, "true")
		+quiz_link(cellphone)
		+quiz_link(survive, "true")
		+quiz_link(geek)
		+quiz_link(technology, "true")
block right_arrow
	+arrow("right", one.link)