/* Blog */
.blog_body {
	font-family: rbno2;
	background: white;
	color: black;
	min-height: 100%;
	img {
		width: 100%;
	}
	.section_title {
		-webkit-transform: rotate(305deg);
		-moz-transform: rotate(305deg);
		-o-transform: rotate(305deg);
		writing-mode: lr-tb;
		float: left;
	}
	.title_header {
		background-color: $blog_blue;
		color:white;
		padding: 10px 10px 0px 10px;
		border-bottom: 2px solid black;
		margin-top: 1px;
		border-top: 4px solid black;
	}
	.title {
		font-size: 40px;
		text-transform: uppercase;
		float:left;
	}
	.section_icon {
		width: 40px !important;
		border: 3px solid black !important;
		border-radius: 20px;
		float: right;
		margin: 3px 7px 0px 0px;
	}
	.welcome_video_header img {
		margin-right: 20px;
	}
	.blog_sections {
		background-color: $blog_purple;
		color: white;
		padding: 0px;
		border-bottom: 2px solid black;
		cursor: pointer;
	}
	.blog_section {
		float: left;
		border: solid 2px black;
		text-transform: uppercase;
		font-size: 1.7vw;
		height: 75px;
		text-align: center;
		&.small {
			padding-top: 24px;
		}
		&.tech {
			width: 9%;
		}
		&.cybercrime {
			width: 8.5%;
		}
		&.cyberbullying {
			width: 9.5%
		}
		&.sexting {
			width: 8.5%;
		}
		&.app {
			width: 11.5%;
		}
		&.tips {
			width: 10%;
		}
		&.preparing {
			width: 11.5%;
		}
		&.op {
			width: 6%;
		}
		&.ask {
			width: 11.5%;
		}
		&.corporate {
			width: 14%;
		}
		&.selected {
			background-color: #FEF937;
			color: black;
		}
	}

	.preview_column_1 {
		margin-top: 2%;
	}
	.preview_column_2 {
		margin-top: 4%;
	}

	.blog_preview_link {
		border: 3px solid $blog_lightgray !important;
		font-family: Gotham;
		margin-bottom: 15px;
		img {
			border: none !important;
		}
		.preview_title {
			text-align: center;
			margin-top: 11px;
			font-size: 25px;
			color: red;
		}
		.content {
			height: 40px;
			padding: 0px 10px 0px 10px;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.blog_article_content {
		min-height: 400px;
		overflow: auto;
		.link_to_blog_home {
			text-align: right;
			cursor: pointer;
			text-decoration: underline;
			font-size: 1.8vw;
			font-family: Gotham;
			margin-top: 15px;
		}
		.article_content {
			border: 3px solid $blog_lightgray;
			font-family: Gotham;
			margin: 5px 0px 30px 20px;
		}
		.article_title {
			padding: 15px;
			font-size: 2.7vw;
			text-decoration: underline;
		}
		img {
			width: 45% !important;
			float: right;
			border: none !important;
			padding: 0px 0px 10px 10px;
		}
		.article_body {
			padding: 0px 17px 0px 17px;
		}
		.article_comments {
			font-family: Gotham;
			.comment_box form {
				.name {
					margin-bottom: 10px;
					width: 20%;
				}
				.text {
					height: 100px;
				}
				button[type='submit'] {
					margin: 10px;
				}
			}
			.comment {
				border: 1px solid lightgray;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 10px;
				.date_posted {
					float: right;
				}
			}
		}
	}
	.welcome_video_diagonal {
		margin-right: 48px;
	}
	.header_container {
		height: 93px;
		margin-top: -6px;
		text-transform: uppercase;
		font-size: 20px;
		.table-header-rotated {
			float: right;
			width: 200px;
			border-collapse: collapse;
			.csstransforms & td {
				width: 30px;
			}
			.no-csstransforms & th {
				padding: 5px 10px;
			}
			th.rotate {
				height: 70px;
				white-space: nowrap;
				// Firefox needs the extra DIV for some reason, otherwise the text disappears if you rotate 
				div {
				  transform: 
				    // Magic Numbers
				    translate(25px, 51px)
				    // 45 is really 360-45
				    rotate(315deg);
				  width: 30px;
				}
			}
		}
	}

	.blog_submit {
		font-family: Gotham;
		text-align: center;
		margin: 15px;
		background: #FEF937;
		border-radius: 15px;
		padding: 9px 0px 5px 0px;
		box-shadow: 0px 2px 3px #888888;
		cursor: pointer;
	}

	.blog_submit_page {
		.submit_title {
			font-size: 50px;
			margin: 20px;
		}
		.instructions {
			font-size: 21px;
			margin: 20px;
			font-family: Gotham;
		}
		form {
			margin-top: 110px;
			font-family: Gotham;
			font-size: 20px;
			label {
				font-weight: normal;
			}
			input, textarea {
				border-radius: 20px;
				border: 2px solid black;
			}
			textarea {
				height: 300px;
			}
			.agree_box {
				font-size: 12px;
				margin-top: 6px;
			}
			.counter {
				margin: -35px 14px 12px 0px;
				text-align: right;
				position: absolute;
				right: 20px;
				background: white;
			}
		}
	}
	.blog_submit_thanks_page {
		.thanks_title {
			text-align: center;
			font-family: Gotham;
			font-size: 35px;
			margin-top: 175px;
		}
		.thanks_subtitle {
			font-size: 17px;
			text-align: center;
			width: 61%;
			margin: auto;
			font-family: Gotham;
		}
		.return {
			text-align: right;
			margin-top: 134px;
			font-size: 24px;
			text-decoration: underline;
		}
	}

	.popular_articles {
		border: solid 2px gray;
		margin-top: 20px;
		.title {
			text-align: center;
			text-transform: uppercase;
			padding: 10px;
			font-size: 26px;
			background: $blog_blue;
			width: 100%;
		}
		.post_title {
			text-align: center;
			font-family: Gotham;
			margin: 10px;
			font-size: 18px
		}
	}
}
#rss iframe {
	border: 2px solid black;
}
#container 
	#header {
		text-align: center;
		text-transform: uppercase;
		padding: 10px;
		font-size: 26px;
		background: #f80108;
		width: 100%;
		height: 60px !important;
		font-family: Geneva;
		.feed_title {
			color: white;
		}
}
.jspContainer {
	.feed_item {
		padding: 7px 5px 12px 5px;
	}
	.feed_item_title {
		color: black;
		font-weight: bold;
	}
	.feed_item_thumbnail {
		width: 100%;
		height: 100px;
		float: left;
		margin: 5px;
		overflow: hidden;
	}
}

.pollathon_body {
	padding: 5px 25px 25px 25px;
	.poll {
		margin-top: 40px;
	}
	h1 {
		font-size: 50px;
	}
	h4 {
		font-family: Gotham;
		font-size: 20px;
	}
}