#header {
	margin-top: 0px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* HEADER */

.social_link {
  width:60px;
}

.nav > li > a {
	padding: 0px;
}

.navbar-custom .container-fluid{
	min-height: 110px;
	padding-top: 20px;
}

.navbar-brand {
	font-size: 58px;
	font-weight: bold;
	float: left;
	margin-top: 7px;
	color: black;
}
.navbar-header a {
	color: black;
}
.navbar-header:hover {
	cursor: pointer !important;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: inherit;
    cursor: pointer;
}
#join_the_hour {
  background-color: rgb(224,236,14);
  width: 264px;
  height: 59px;
  margin-top:25px;
  text-align: center;
}
#join_the_hour a{
  font-weight: bold;
  font-size: 30px;
}