#header {
	margin-top: 0px;
	height: $navbar_height;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: Cardenio Modern;
    src: url(../fonts/Cardenio_Modern.ttf);
}
@font-face {
	font-family: Gotham;
	src: url(../fonts/Gotham-Book.otf);
	font-weight: normal;
}
@font-face {
	font-family: Gotham;
	src: url(../fonts/Gotham-Light.otf);
	font-weight: lighter;
}
@font-face {
	font-family: Gotham;
	src: url(../fonts/Gotham-Medium.otf);
	font-weight: bold;
}
@font-face {
    font-family: RBNo2;
    src: url(../fonts/RBNo2Light.otf);
}



#footer {
	margin-top: 0px;
}

/* GENERAL TOOLS */
.bold {
	font-weight: bold;
}
.pointer {
	cursor: pointer;
}
.no_padding {
	padding: 0px;
}
.right_align {
	text-align: right;
}
.left_align {
	text-align: left;
}
.center_align {
	text-align: center;
}
.float_left {
	float: left;
}
.image-center-parent {
	display: table;
	height: 100%;
	width: 100%;
}
.image-center-child {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
input:focus, button:focus {
	outline: none;
}
textarea {
	resize: none;
}
.button_style{
	color: black;
	font-weight: normal;
	font-size: 22px;
	padding-top: 6px;
	line-height: 26px;
	border: 1px solid black;
	border-radius: 18px;
	width: 117px;
	margin: auto;
	background: white;
	cursor: pointer;
}

/* HEADER */

.social_link {
  width:60px;
}

.nav > li > a {
	padding: 0px;
}

.navbar-custom {
	margin-bottom: 0px;
	background-color: white;
}

.navbar-custom .container-fluid{
	min-height: 110px;
	padding-top: 20px;
}
.navbar-brand {
	font-size: 58px;
	font-weight: bold;
	float: left;
	margin-top: 7px;
	color: black;
}
.navbar-header a, .navbar-right a {
	color: black;
}
.navbar-header:hover {
	cursor: pointer !important;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: inherit;
    cursor: pointer;
}
#join_the_hour {
  background-color: rgb(224,236,14);
  width: 264px;
  height: 59px;
  padding-top: 10px;
  color:black;
  text-align: center;
  font-weight: bold;
	font-size: 30px;
	cursor: pointer;
}
#loading_body {
	text-align: center;
	height: 500px;
}
#loading_body img {
	margin-top: 230px;
}

/* Join The Hour */
.jointhehour {
	margin-top: -15%;
	text-align: center;
	color: white;
	font-family: Gotham;
	padding: 20px 0px 20px 0px;
}
.jointhehour label {
	text-align: right;
	font-size: 19px;
	font-weight: lighter;
}
.jointhehour h2 {
	font-family: Cardenio Modern;
	font-size: 60px;
	color: $tib_red;
}
.jointhehour h2 span {
	color: $tib_blue;
}
.jointhehour h2.thanks {
	margin-top: 260px;
	color: white;
}
.jointhehour form {
	width:80%;
	margin:auto;
}
.jointhehour .textarea_desc {
	font-size: 26px;
	color: $tib_yellow;
}
.jointhehour input {
	border-radius: 10px;
}
.jointhehour textarea {
	height: 158px;
	border-radius: 18px;
	font-size: 16px;
}
.jointhehour button {
	margin-top: 20px;
}
.jointhehour .counter {
	color: black;
	margin: -33px 14px 0px 0px;
	text-align: right;
	font-size: 20px;
}

