@media (max-width: 767px) {

.nav > li {
	float: right;
}
.navbar-brand {
	font-size: 28px;
	margin-top: -4px;
}
.navbar-toggle {
	margin-right: 0px;
	margin-top: 21px;
}
.navbar-toggle .icon-bar {
	margin-top: -7px;
	width: 34px;
	height: 3px;
	background: black;
}
.navbar-custom .container-fluid {
	min-height: initial;
	padding-top: 0px;
}
#yanng_header {
	height:90px;
}
#header {
	height: 69px;
}
#navbar {
	margin-left: 55px;
	float: left;
	margin-top: 22px;
}
.subheader {
	display: none;
}
#join_the_hour {
	width: 75px;
	font-size: 12px;
	padding-top: 12px;
}

#yanng_header h2 {
	font-size: 9vw;
	margin-top: 14px;
}
.yanng_header_button {
	font-size: 65px;
	margin-left: -8px;
}
.yanng_home_text {
	font-size: 23px;
}

/* ETIQUETTE */
.etiquette_body img {
	margin: 0px 0px 15px 0px;
	border: 8px solid #523276;
	width: 100%;
}
.yanng_box_large {
	height: 274px;
}

#etiquette p {
	font-size: 13.2vw;
}

.yanng_body {
	margin: 10px 15px 0px 15px;
	font-size: 15px;
}

/* ABOUT */
.about_body img {
	margin-top: 14px;
	width: 100%;
}
.next_page {
	margin: 16px 20px 0px 0px;
}
.yanng_about2 {
	font-size: 15px;
}
.yanng_about2 img {
	margin-top: 12px;
}
.create_body h2 {
	font-size: 45px;
}

/* CREATE AND SHARE */
.create_body .col-sm-5 div.title {
	font-size: 48px;
	margin-top: 14px;
}
.create_body .agree_box {
	padding: 5px;
}
.create_body .submit {
	width: inherit;
}
.create_body .button_style {
	margin-top: 9px;
}

/* TIPS */
#tips_home .tips_picture {
	width: 100%;
	height: 326px;
}
#tips_home .tips_picture img {
	position: absolute;
	width: 67%;
	margin-top: 91px;
}
#tips_home .tips_picture p {
	margin-top: 0%;
	font-size: 64px;
	margin-left: 34%;
}
#tips_home .tips_begin_text {
	font-size: 32px;
	margin-top: 7px;
}

/* FRONT PAGE MODS */
.yanng_girls {
	width: 280px;
}
.yanng_footer {
	height: 145px;
	a[href='yanng']{
		font-size: 18px;
	}
	.create_your_own {
		margin: 0px 0px 0px 85px !important;
		font-size: 18px !important;
	}
}
.col-xs-12.welcome_link {
	height: 95px;
}
#about1 .textoverlay {
  padding-top: 70px;
}
#about2 {
	margin-top: 45px;
}
#blog2 {
  margin-top: 40px;
}
#about2, #about3, #about4,
#blog2, #blog3, #blog4 {
	font-size: 9px;
}
#blog1 span {
  padding-top: 13px;
  padding-left: 25px;
  font-size: 12px;
}
.textoverlay {
	font-size: 20px;
	background-color: rgba(0,0,0,.5);
	opacity: 1.0;
	-webkit-transition: all .2s ease-out 0s;
	-moz-transition: all .2s ease-out 0s;
	-ms-transition: all .2s ease-out 0s;
	-o-transition: all .2s ease-out 0s;
	transition: all .2s ease-out 0s;
	cursor: pointer;
	&.welcome_video_link {
  		padding-top: 150px;
  	}
  	.minor,
  	&.tech_addiction_link,
  	&.cyberbullying_link {
  		font-size: 16px !important;
  	}
  	&.hacker {
  		font-size: 15px !important;
  	}
  	&.school {
  		font-size: 13px !important;
  	}
  	&.contact {
  		font-size: 16px !important;
  	}
  	&.corporate {
		font-size: 15px !important;
		padding-top: 9% !important;
	}
}
#footer {
	font-size: 13px;
}

.video_row {
	position: relative;
	height: 240px;
}

.home_row {
	height: 300px;
	overflow: hidden;
	img.home_picture {
		margin-top: -25px;
	}	
}
.col-xs-12.welcome_link {
	height: 275px;
}

.col-xs-12.welcome_link, .home_row {
	span.textoverlay {
		padding-top: 100px !important;
		font-size: 25px !important;
		letter-spacing: 2px;
		text-align: center;
	}
}

}