@media (max-width: 767px) {

.mobile_only {
	display: inherit;
}
.not_mobile {
	display: none;
}

#popup_exit {
	margin: 24px 0px 0px 14px;
	width: 5.5% !important;
}

/* high level */
.corporate_link img{
	width: 100%;
}

/* toggle stuff */
.sidebar-left > .toggler {
	left: 297px;
}

.navbar-brand {
	width: 165px;
	line-height: 1.4;
	text-align: center;
	margin: 16px 0px 0px 0px;
	font-size: 16px;
	padding: 7px 0px 0px 0px;
}

#menu_header {
	font-size: 40px;
	height: 90px;
	margin-top: 28px;
}
#jPanelMenu-menu {
	color: white;
	font-family: rbno2;
	font-size: 22px;
	background-color: rgb(0, 0, 0);
	.menu_link {
		padding: 5px;
	}
	span {
		margin-left: 5px;
	}
}
#trigger {
	margin-left: -15px;
	padding-top: 5px;
	height: 100%;
	background-color: black;
	width: 45px;
	height: 45px;
	position: absolute;
	cursor: pointer;
	color: white;
	font-size: 45px;
	line-height: 36px;
	padding-left: 9px;
}

/* GENERAL FORMATTING FOR SECTION PAGES */
.upper_right {
	display: none;
}
.popup_header {
	font-size: 45px;
	margin: 10px 0px 0px 0px;
}
#backgroundPopup {
	display: none !important;
}
.arrow {
	display: none;
}
.counter {
	font-size: 20px;
}

/* Text boxes, etc. */
.main_box {
	padding-bottom: 20px;
}

/* Tech Addiction */
.tech_addiction .text_container {
	padding: 0px 15px 0px 15px;
}

/* About */
.about_section {
	iframe {
		width: 93%;
		height: 260px;
		border: 5px solid #5a5a5a;
		margin: 0px auto 40px auto;
	}
	.label_text {
		font-size: 26px;
		padding: 12px 0px 5px 0px;
		line-height: 1.4;
	}
	.text p, .text ul {
		padding: 0px 10px 0px 10px;
	}
	.row.question_title {
		font-size: 21px !important;
		padding-bottom: 19px;
		width: 100%;
	}
	.question_focus_title {
		font-size: 22px !important;
	}
	&.questions {
		#mean_online_box {
			margin-top: 118%;
		}
		#bullying_box {
			margin-top: 134%;
		}
		#better_tech_box {
			margin-top: 150%;
		}
		#technology_box {
			margin-top: 185%;
		}
		#schools_box {
			margin-top: 196%;
		}
		#educate_box {
			margin-top: 211%;
		}
	}
}

/* CYBERBULLYING */
.cyberbullying_section {
	.popup_picture_box div {
		font-size: 16px;
	}
	.thumbs {
		margin-top: 20px;
	}
}
.online_abuse_section {
	.popup_picture_box {
		font-size: 21px;
	}
	.thumbnails div.label_text {
		font-size: 22px;
		padding: 10px 0px 15px 0px;
	}
}
.share_your_stories_section {
	.popup_picture_box div {
		font-size: 22px;
	}
}
#share_your_story_form, .report_it_section form {
	label, input {
		text-align: center;
		font-size: 18px;
	}
}

.share_your_stories_share, .report_it_section {
	.textarea_desc {
		font-size: 17px;
	}
	.textarea_popup {
		width: 90%;
		font-size: 12px;
	}
	textarea {
		padding-top: 85px;
		font-size: 16px;
	}
	.button_style {
		font-size: 18px;
		margin-top: 25px;
	}
	.agree_row {
		margin-top: 25px;
	}
	.buttons {
		width: 80%;
	}
}
.share_your_stories_see {
	font-size: 24px;
}
.their_stories_section {
	.stories_text {
		font-size: 15px;
	}
	.popup_picture_box div {
		font-size: 20px;
	}
	.popup_picture_box.ts_marcus_link {
		margin-top: 12px;
	}
	.thumbnails div {
		font-size: 20px;
	}
}

/* CYBERCRIME */
.cybercrime_section {
	.popup_picture_box.crime_whatis_link {
		margin-top: 25px;
		font-size: 20px;
	}
	.text {
		padding: 0px 15px 0px 15px;
	}
	.image_label {
		font-size: 15px;
	}
	.popup_picture_box div {
		font-size: 20px;
	}
	.label_text {
		margin-bottom: 20px;
	}
}

/* WELCOME SECTION */
.welcome_header {
	img {
		max-width: inherit;
		width: 200% !important;
		height: 100px;
		margin-left: -200px;
	}
	.img-textoverlay {
		top: 0%;
		font-size: 35px;
		margin-top: 32px;
	}
}
.welcome_upper_left img {
	margin: 15% 5% 5% 0%;
	width: 21% !important;
}
.welcome_label {
	margin: 15% 0px 10px 0px;
	font-size: 48px;
}
.welcome_body{
	.welcome_button {
		width: 50%;
		margin: auto;
	}
	.button_label {
		font-size: 40px;
	}
	.welcome_button {
		&.bottom, &.mid, &.top {
			margin-top: inherit;
		}
		img {
			margin-top: 10px;
			width: 50% !important;
		}
		.button_label {
			font-size: 35px;
		}
	}
	.icons {
		height: 75px;
	}
	.welcome_left_button_mobile {
		width: 17%;
		float: left;
		margin: 0px 2px 0px 6px;
	}
	.jointhehour {
		margin-top: -5%;
		padding: 0px;
	}
	.welcome_games_icon {
		width: 25%;
		float: left;
		margin-left: 30px;
		margin-bottom: 15px;
	}
	.games_container {
		margin: auto;
		text-align: center;
		width: 100%;
		.welcome_games_challenge_link {
			margin-left: 30px;
		}
		.welcome_games_wikipedia_link {
			margin-left: 80px;
		}
	}
	.games_body_individual {
		.games_title {
			font-size: 35px;
			margin-top: 25px;
		}	
	}
	.games_text {
		font-size: 13px;
		padding-bottom: 10px;
	}
	.games_body .welcome_games_icon.welcome_games_wikipedia_link {
		margin-top: inherit;
	}
	.welcome_games_wikipedia_link span {
		font-size: 16px;
	}
	.welcome_games_challenge_link span {
		font-size: 16px;
	}
	.welcome_games_forward_link span {
		font-size: 20px;
	}
	.welcome_games_talk_link span {
		font-size: 20px;
		margin-top: 20px;
	}
	.welcome_games_band_link span {
		font-size: 18px;
	}

	.downloadable {
		font-size: 22px;
	}
	.video iframe {
		width: 100%;
		height: 264px;
		margin-top: 30px;
	}
	.quiz_wrapper {
		float:inherit;
		margin: auto;
		width: 155px;
	}
	.quiz_container {
		&.bottom {
			margin-top: inherit;
		}
		position: relative;
		float: left;
		padding: 23px;
		width: inherit;
		span {
			font-size: 13px !important;
			padding: 29% 27% 0% 27%;
		}
		img {
			width: 115px !important;
		}
	}
	.cause_selected {
		img {
			margin-top: 15px;
			width: 75% !important;
		}
		.selected_text {
			font-size: 4.2vw;
		}
	}
}

/* BLOG */
.blog_body .blog_article_content .article_content {
	margin: 5px 0px 30px 0px;
}
.blog_body .blog_article_content .article_comments .comment_box form .name {
	width: 50%;
}

/* SCHOOLS + PARENTS */
.schools_body {
	.title {
		font-size: 16px;
		padding-bottom: 15px;
	} 
	.popup_picture_box div {
		font-size: 16px;
	}
	.col-md-2.fifth {
		width: 80%;
		margin: auto;
	}
	.label_text {
		font-size: 18px !important;
	}
}

/* TIPS FOR TEENS */
.teen_tips_body {
	.desc {
		width: 90%;
		margin: auto;
		margin-bottom: 25px;
	}
}

/* YANNG TIPS */

.yanng_tips_section {
	.image-center-parent {
		height: 75%;
	}
	.col-xs-5 {
		width: 38%;
	}
}

/* Page 1 */
#tip_yes1 {
	  left: 65%;
  top: 6%;
  width: 140%;
}
#tip_no1 {
	  right: 42%;
  top: 25%;
  width: 125%;
}
#tip_yes1girl {
	right: 34%;
  top: 5%;
  width: 66%;
}
#tip_no1girl {
	   left: 56%;
  top: 26%;
  width: 46%;
}
/* Page 2 */
#tip_yes2 {
	left: 46%;
  width: 84%;
  top: 3%;
}
#tip_no2 {
	left: -88%;
  width: 143%;
  top: 25%;
}
#tip_yes2girl {
	left: 1%;
  width: 32%;
  top: 12%;
}
#tip_no2girl {
	left: 41%;
  width: 55%;
  top: 9%;
}

/* Page 3 */
#tip_yes3 {
	width: 118%;
  right: 50%;
  top: 5%;
}
#tip_no3 {
	left: 39%;
  top: 24%;
  width: 155%;
}
#tip_yes3girl {
	left: 55%;
  width: 38%;
  top: 6%;
}
#tip_no3girl {
	  top: 17%;
  width: 44%;
  left: -10%;

}

/* Page 4 */
#tip_yes4 {
	  left: 51%;
  width: 115%;
  top: 4%;
}
#tip_no4 {
	right: 41%;
  width: 145%;
  top: 23%;
}
#tip_yes4girl {
	  top: 5%;
  width: 40%;
  left: 11%;
}
#tip_no4girl {
	left: 65%;
  width: 35%;
  top: 21%;
}

/* Page 5 */
#tip_yes5 {
	top: 7%;
  left: 76%;
  width: 97%;
}
#tip_no5 {
	  top: 24%;
  right: 56%;
  width: 130%;
}
#tip_yes5girl {
	width: 30%;
  top: 11%;
  left: 26%;
}
#tip_no5girl {
	  width: 44%;
  left: 46%;
  top: 23%;
}

/* Page 6 */
#tip_yes6 {
	  top: 7%;
  left: -2%;
  width: 149%;
}
#tip_no6 {
	  top: 28%;
  left: -13%;
  width: 99%;
}
#tip_yes6girl {
	  left: 145%;
  width: 32%;
  top: 12%;
}
#tip_no6girl {
	  width: 40%;
  right: 116%;
  top: 23%;
}

/* Page 7 */
#tip_yes7 {
	  top: 5%;
  width: 60%;
  left: 98%;
}
#tip_no7 {
	  right: 77%;
  width: 79%;
  top: 26%;
}
#tip_yes7girl {
	  top: 6%;
  width: 39%;
  left: 55%;
}
#tip_no7girl {
	  width: 48%;
  top: 23%;
  left: 18%;
}

/* Page 8 */
#tip_yes8 {
	left: 80%;
  top: 4%;
  width: 75%;
}
#tip_no8 {
	  width: 130%;
  right: 46%;
  top: 21%;
}
#tip_yes8girl {
	left: 39%;
  top: 9%;
  width: 38%;
}
#tip_no8girl {
	  left: 52%;
  top: 20%;
  width: 37%;
}

/* Page 9 */
#tip_yes9 {
	  top: 4%;
  right: 85%;
  width: 69%;
}
#tip_no9 {
	left: 74%;
  width: 100%;
  top: 25%;
}
#tip_yes9girl {
	  top: 6%;
  left: 16%;
  width: 51%;
}
#tip_no9girl {
	  
  left: 33%;
  width: 38%;
  top: 20%;
}

/* Page 10 */
#tip_yes10 {
	top: 5%;
  left: 79%;
  width: 62%;
}
#tip_no10 {
	right: 53%;
  top: 20%;
  width: 138%;
}
#tip_yes10girl {
	width: 41%;
  left: 34%;
  top: 8%;
}
#tip_no10girl {
	width: 32%;
  left: 50%;
  top: 10%;
}

/* Page 11 */
#tip_yes11 {
	  left: 57%;
  width: 105%;
  top: 8%;
}
#tip_no11 {
	right: 45%;
  width: 127%;
  top: 27%;
}
#tip_yes11girl {
	width: 31%;
  top: 14%;
  left: 17%;
}
#tip_no11girl {
	left: 63%;
  top: 17%;
  width: 40%;
}

/* Page 12 */
#tip_yes12 {
	left: 60%;
  width: 134%;
  top: 4%;
}
#tip_no12 {
width: 149%;
  top: 22%;
  right: 50%;	
}
#tip_yes12girl {
	top: 4%;
  width: 36%;
  left: 22%;
}
#tip_no12girl {
	top: 23%;
  left: 57%;
  width: 34%;
}

/* Page 13 */
#tip_yes13 {
	width: 109%;
  left: 25%;
  top: 6%;
}
#tip_no13 {
	top: 21%;
  right: -7%;
  width: 146%;
}
#tip_yes13girl {
	left: 136%;
  width: 45%;
  top: 5%;
}
#tip_no13girl {
	  right: 149%;
  top: 23%;
  width: 33%;
}

}
/* VERTICAL */
@media (max-width: 418px) {
#tips_home .tips_picture img {
position: absolute;
	width: 67%;
	margin-top: 91px;
	margin-left: 0px;
}

#tip_yes1 {
	left: 65%;
  top: 16%;
  width: 174%;
}
#tip_no1 {
	right: 48%;
  top: 43%;
  width: 166%;
}
#tip_yes1girl {
	right: 34%;
  top: 22%;
  width: 81%;
}
#tip_no1girl {
	left: 56%;
  top: 43%;
  width: 65%;
}

/* Page 2 */
#tip_yes2 {
left: 99%;
  width: 113%;
  top: 18%;
}
#tip_no2 {
left: -118%;
  width: 191%;
  top: 52%;
}
#tip_yes2girl {
  left: 16%;
  width: 64%;
  top: 21%;
}
#tip_no2girl {
	left: 41%;
  width: 84%;
  top: 39%;
}

/* Page 3 */
#tip_yes3 {
width: 129%;
  right: 76%;
  top: 17%;
}
#tip_no3 {
left: 69%;
  top: 51%;
  width: 175%;
}
#tip_yes3girl {
left: 33%;
  width: 66%;
  top: 23%;
}
#tip_no3girl {
  top: 41%;
  width: 64%;
  left: 17%;
}

/* Page 4 */
#tip_yes4 {
  left: 63%;
  width: 159%;
  top: 14%
}
#tip_no4 {
right: 41%;
  width: 173%;
  top: 49%;
}
#tip_yes4girl {
  top: 18%;
  width: 58%;
  left: 11%;
}
#tip_no4girl {
left: 58%;
  width: 59%;
  top: 43%;
}

/* Page 5 */
#tip_yes5 {
top: 17%;
  left: 73%;
  width: 154%;
}
#tip_no5 {
  top: 42%;
  right: 26%;
  width: 194%;
}
#tip_yes5girl {
  width: 45%;
  top: 24%;
  left: 26%;
}
#tip_no5girl {
  width: 60%;
  left: 74%;
  top: 54%;
}

/* Page 6 */
#tip_yes6 {
  top: 15%;
  left: -12%;
  width: 208%;
}
#tip_no6 {
top: 49%;
  left: -34%;
  width: 148%;
}
#tip_yes6girl {
  left: 166%;
  width: 48%;
  top: 23%;
}
#tip_no6girl {
width: 59%;
  right: 149%;
  top: 44%;
}

/* Page 7 */
#tip_yes7 {
top: 16%;
  width: 103%;
  left: 98%;
}
#tip_no7 {
  right: 61%;
  width: 144%;
  top: 42%;
}
#tip_yes7girl {
top: 21%;
  width: 59%;
  left: 30%;
}
#tip_no7girl {
  width: 61%;
  top: 53%;
  left: 37%;
}

/* Page 8 */
#tip_yes8 {
  left: 80%;
  top: 14%;
  width: 114%;
}
#tip_no8 {
width: 156%;
  right: 46%;
  top: 44%;
}
#tip_yes8girl {
left: 5%;
  top: 19%;
  width: 58%;
}
#tip_no8girl {
	  left: 52%;
  top: 48%;
  width: 58%;

}

/* Page 9 */
#tip_yes9 {
top: 13%;
  right: 85%;
  width: 125%;
}
#tip_no9 {
left: 89%;
  width: 126%;
  top: 49%;
}
#tip_yes9girl {
  top: 19%;
  left: 27%;
  width: 86%;
}
#tip_no9girl {
  left: 2%;
  width: 68%;
  top: 47%;
}

/* Page 10 */
#tip_yes10 {
top: 16%;
  left: 110%;
  width: 103%;
}
#tip_no10 {
right: 28%;
  top: 52%;
  width: 193%;
}
#tip_yes10girl {
  width: 71%;
  left: 13%;
  top: 23%;
}
#tip_no10girl {
width: 50%;
  left: 50%;
  top: 39%;
}

/* Page 11 */
#tip_yes11 {
left: 57%;
  width: 161%;
  top: 13%;
}
#tip_no11 {
  right: 32%;
  width: 180%;
  top: 55%;
}
#tip_yes11girl {
width: 42%;
  top: 20%;
  left: 17%;
}
#tip_no11girl {
  left: 63%;
  top: 44%;
  width: 53%;
}

/* Page 12 */
#tip_yes12 {
left: 63%;
  width: 158%;
  top: 18%;
}
#tip_no12 {
  width: 196%;
  top: 42%;
  right: 12%;
}
#tip_yes12girl {
 top: 19%;
  width: 49%;
  left: 1%;

}
#tip_no12girl {
  top: 52%;
  left: 57%;
  width: 56%;
}

/* Page 13 */
#tip_yes13 {
width: 173%;
  left: -11%;
  top: 15%;
}
#tip_no13 {
top: 47%;
  right: -25%;
  width: 184%;
}
#tip_yes13girl {
left: 170%;
  width: 59%;
  top: 19%;
}
#tip_no13girl {
  right: 156%;
  top: 42%;
  width: 51%;
}

}