@media (max-width: 767px) {

.mobile_only {
	display: inherit;
}
.not_mobile {
	display: none;
}

#popup_exit {
	margin: 24px 0px 0px 14px;
	width: 5.5% !important;
}

/* high level */
.corporate_link img{
	width: 100%;
}

/* toggle stuff */
.sidebar-left > .toggler {
	left: 297px;
}

.navbar-brand {
	width: 165px;
	line-height: 1.4;
	text-align: center;
	margin: 16px 0px 0px 0px;
	font-size: 16px;
	padding: 7px 0px 0px 0px;
}

#menu_header {
	font-size: 40px;
	height: 90px;
	margin-top: 28px;
}
#jPanelMenu-menu {
	color: white;
	font-family: rbno2;
	font-size: 22px;
	background-color: rgb(0, 0, 0);
	.menu_link {
		padding: 5px;
	}
	span {
		margin-left: 5px;
	}
}
#trigger {
	margin-left: -15px;
	padding-top: 5px;
	height: 100%;
	background-color: black;
	width: 45px;
	height: 45px;
	position: absolute;
	cursor: pointer;
	color: white;
	font-size: 45px;
	line-height: 36px;
	padding-left: 9px;
}

/* GENERAL FORMATTING FOR SECTION PAGES */
.upper_right {
	display: none;
}
.popup_header {
	font-size: 45px;
	margin: 10px 0px 0px 0px;
}
#backgroundPopup {
	display: none !important;
}
.arrow {
	display: none;
}
.counter {
	font-size: 20px;
}

/* Text boxes, etc. */
.main_box {
	padding-bottom: 20px;
}

/* Tech Addiction */
.tech_addiction .text_container {
	padding: 0px 15px 0px 15px;
}

/* About */
.about_section {
	iframe {
		width: 93%;
		height: 260px;
		border: 5px solid #5a5a5a;
		margin: 0px auto 40px auto;
	}
	.label_text {
		font-size: 26px;
		padding: 12px 0px 5px 0px;
		line-height: 1.4;
	}
	.text p, .text ul {
		padding: 0px 10px 0px 10px;
	}
	.row.question_title {
		font-size: 21px !important;
		padding-bottom: 19px;
		width: 100%;
	}
	.question_focus_title {
		font-size: 22px !important;
	}
	&.questions {
		#mean_online_box {
			margin-top: 118%;
		}
		#bullying_box {
			margin-top: 134%;
		}
		#better_tech_box {
			margin-top: 150%;
		}
		#technology_box {
			margin-top: 185%;
		}
		#schools_box {
			margin-top: 196%;
		}
		#educate_box {
			margin-top: 211%;
		}
	}
}

/* CYBERBULLYING */
.cyberbullying_section {
	.popup_picture_box div {
		font-size: 16px;
	}
	.thumbs {
		margin-top: 20px;
	}
}
.online_abuse_section {
	.popup_picture_box {
		font-size: 21px;
	}
	.thumbnails div.label_text {
		font-size: 22px;
		padding: 10px 0px 15px 0px;
	}
}
.share_your_stories_section {
	.popup_picture_box div {
		font-size: 22px;
	}
}
#share_your_story_form, .report_it_section form {
	label, input {
		text-align: center;
		font-size: 18px;
	}
}

.share_your_stories_share, .report_it_section {
	.textarea_desc {
		font-size: 17px;
	}
	.textarea_popup {
		width: 90%;
		font-size: 12px;
	}
	textarea {
		padding-top: 85px;
		font-size: 16px;
	}
	.button_style {
		font-size: 18px;
		margin-top: 25px;
	}
	.agree_row {
		margin-top: 25px;
	}
	.buttons {
		width: 80%;
	}
}
.share_your_stories_see {
	font-size: 24px;
}
.their_stories_section {
	.stories_text {
		font-size: 15px;
	}
	.popup_picture_box div {
		font-size: 20px;
	}
	.popup_picture_box.ts_marcus_link {
		margin-top: 12px;
	}
	.thumbnails div {
		font-size: 20px;
	}
}

/* CYBERCRIME */
.cybercrime_section {
	.popup_picture_box.crime_whatis_link {
		margin-top: 25px;
		font-size: 20px;
	}
	.text {
		padding: 0px 15px 0px 15px;
	}
	.image_label {
		font-size: 15px;
	}
	.popup_picture_box div {
		font-size: 20px;
	}
	.label_text {
		margin-bottom: 20px;
	}
}

/* WELCOME SECTION */
.welcome_header {
	img {
		max-width: inherit;
		width: 200% !important;
		height: 100px;
		margin-left: -200px;
	}
	.img-textoverlay {
		top: 0%;
		font-size: 35px;
		margin-top: 32px;
	}
}
.welcome_upper_left img {
	margin: 15% 5% 5% 0%;
	width: 16% !important;
}
.welcome_label {
	margin: 15% 0px 10px 0px;
	font-size: 48px;
}
.welcome_body{
	.welcome_button {
		width: 50%;
		margin: auto;
	}
	.button_label {
		font-size: 40px;
	}
	.welcome_button {
		&.bottom, &.mid, &.top {
			margin-top: inherit;
		}
		img {
			margin-top: 10px;
			width: 50% !important;
		}
		.button_label {
			font-size: 35px;
		}
	}
	.icons {
		height: 75px;
	}
	.welcome_left_button_mobile {
		width: 17%;
		float: left;
		margin: 0px 2px 0px 6px;
	}
	.jointhehour {
		margin-top: -5%;
		padding: 0px;
	}
	.welcome_games_icon {
		width: 25%;
		float: left;
		margin-left: 30px;
		margin-bottom: 15px;
	}
	.games_container {
		margin: auto;
		text-align: center;
		width: 100%;
		.welcome_games_challenge_link {
			margin-left: 30px;
		}
		.welcome_games_wikipedia_link {
			margin-left: 80px;
		}
	}
	.games_body_individual {
		.games_title {
			font-size: 35px;
			margin-top: 25px;
		}	
	}
	.games_text {
		font-size: 13px;
		padding-bottom: 10px;
	}
	.games_body .welcome_games_icon.welcome_games_wikipedia_link {
		margin-top: inherit;
	}
	.welcome_games_wikipedia_link span {
		font-size: 16px;
	}
	.welcome_games_challenge_link span {
		font-size: 16px;
	}
	.welcome_games_forward_link span {
		font-size: 20px;
	}
	.welcome_games_talk_link span {
		font-size: 20px;
		margin-top: 20px;
	}
	.welcome_games_band_link span {
		font-size: 18px;
	}

	.downloadable {
		font-size: 22px;
	}
	.video iframe {
		width: 100%;
		height: 264px;
		margin-top: 30px;
	}
	.quiz_container {
		position: relative;
		float: left;
		padding: 23px;
		width: inherit;
		span {
			font-size: 13px !important;
			padding: 29% 27% 0% 27%;
		}
	}
}

/* BLOG */
.blog_body .blog_article_content .article_content {
	margin: 5px 0px 30px 0px;
}
.blog_body .blog_article_content .article_comments .comment_box form .name {
	width: 50%;
}

/* SCHOOLS + PARENTS */
.schools_body {
	.title {
		font-size: 16px;
		padding-bottom: 15px;
	} 
	.popup_picture_box div {
		font-size: 16px;
	}
	.col-md-2.fifth {
		width: 80%;
		margin: auto;
	}
	.label_text {
		font-size: 18px !important;
	}
}

/* TIPS FOR TEENS */
.teen_tips_body {
	.desc {
		width: 90%;
		margin: auto;
		margin-bottom: 25px;
	}
}



}