// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;

$yanng_purple: #523276;
$yanng_blue: #72a6f7;

$yanng_font_2: Gotham;

$navbar_height: 110px;

$tib_blue: #9dfaf9;
$tib_yellow: #e0ec0e;
$tib_red: rgb(186,18,9);