/* YANNG TIPS PICTURES */
.tip_image {
	position: absolute;
}

/* Page 1 */
#tip_yes1 {
	left: 53%;
	top: 5%;
	width: 133%;
}
#tip_no1 {
	right: 48%;
	top: 48%;
	width: 138%;
}
#tip_yes1girl {
	right: 45%;
	top: 45%;
	width: 127%;
}
#tip_no1girl {
	left: 64%;
	top: 51%;
	width: 31%;
}

/* Page 2 */
#tip_yes2 {
	left: 46%;
	width: 84%;
	top: 5%;
}
#tip_no2 {
	left: -97%;
	width: 154%;
	top: 55%;
}
#tip_yes2girl {
	left: 5%;
	width: 38%;
	top: 14%;
}
#tip_no2girl {
	left: 39%;
	width: 64%;
	top: 11%;
}

/* Page 3 */
#tip_yes3 {
	width: 96%;
	right: 50%;
	top: 8%;
}
#tip_no3 {
	left: 37%;
	top: 52%;
	width: 170%;

}
#tip_yes3girl {
	left: 55%;
	width: 38%;
	top: 10%;
}
#tip_no3girl {
	top: 23%;
	width: 47%;
	left: 2%;
}

/* Page 4 */
#tip_yes4 {
	
}
#tip_no4 {
	
}
#tip_yes4girl {
	
}
#tip_no4girl {
	
}

/* Page 5 */
#tip_yes5 {
	
}
#tip_no5 {
	
}
#tip_yes5girl {
	
}
#tip_no5girl {
	
}

/* Page 6 */
#tip_yes6 {
	
}
#tip_no6 {
	
}
#tip_yes6girl {
	
}
#tip_no6girl {
	
}

/* Page 7 */
#tip_yes7 {
	
}
#tip_no7 {
	
}
#tip_yes7girl {
	
}
#tip_no7girl {
	
}

/* Page 8 */
#tip_yes8 {
	
}
#tip_no8 {
	
}
#tip_yes8girl {
	
}
#tip_no8girl {
	
}

/* Page 9 */
#tip_yes9 {
	
}
#tip_no9 {
	
}
#tip_yes9girl {
	
}
#tip_no9girl {
	
}

/* Page 10 */
#tip_yes10 {
	
}
#tip_no10 {
	
}
#tip_yes10girl {
	
}
#tip_no10girl {
	
}

/* Page 11 */
#tip_yes11 {
	
}
#tip_no11 {
	
}
#tip_yes11girl {
	
}
#tip_no11girl {
	
}

/* Page 12 */
#tip_yes12 {
	
}
#tip_no12 {
	
}
#tip_yes12girl {
	
}
#tip_no12girl {
	
}

/* Page 13 */
#tip_yes13 {
	
}
#tip_no13 {
	
}
#tip_yes13girl {
	
}
#tip_no13girl {
	
}