/* YANNG TIPS PICTURES */
.tip_image {
	position: absolute;
}

/* Page 1 */
#tip_yes1 {
	left: 53%;
	top: 5%;
	width: 133%;
}
#tip_no1 {
	right: 48%;
	top: 45%;
	width: 128%;
}
#tip_yes1girl {
	right: 49%;
	top: 16%;
	width: 50%;
}
#tip_no1girl {
	left: 64%;
	top: 51%;
	width: 31%;
}

/* Page 2 */
#tip_yes2 {
	left: 46%;
	width: 84%;
	top: 5%;
}
#tip_no2 {
	left: -88%;
	width: 143%;
	top: 54%;
}
#tip_yes2girl {
	left: 5%;
	width: 38%;
	top: 14%;
}
#tip_no2girl {
	left: 39%;
	width: 64%;
	top: 11%;
}

/* Page 3 */
#tip_yes3 {
	width: 96%;
	right: 50%;
	top: 8%;
}
#tip_no3 {
	left: 39%;
	top: 50%;
	width: 155%;
}
#tip_yes3girl {
	left: 55%;
	width: 38%;
	top: 10%;
}
#tip_no3girl {
	top: 23%;
	width: 47%;
	left: 2%;
}

/* Page 4 */
#tip_yes4 {
	left: 51%;
	width: 104%;
	top: 4%;
}
#tip_no4 {
	right: 41%;
	width: 145%;
	top: 49%;
}
#tip_yes4girl {
	top: 7%;
	width: 37%;
	left: 14%;
}
#tip_no4girl {
	left: 57%;
	width: 35%;
	top: 33%;
}

/* Page 5 */
#tip_yes5 {
	top: 9%;
	left: 69%;
	width: 97%;
}
#tip_no5 {
	top: 53%;
	right: 56%;
	width: 130%;
}
#tip_yes5girl {
	width: 29%;
	top: 16%;
	left: 36%;
}
#tip_no5girl {
	width: 44%;
	left: 46%;
	top: 55%;
}

/* Page 6 */
#tip_yes6 {
	top: 7%;
	left: -2%;
	width: 149%;
}
#tip_no6 {
	top: 63%;
	left: -13%;
	width: 99%;
}
#tip_yes6girl {
	left: 145%;
	width: 32%;
	top: 19%;
}
#tip_no6girl {
	width: 40%;
	right: 116%;
	top: 46%;
}

/* Page 7 */
#tip_yes7 {
	top: 5%;
width: 60%;
left: 98%;
}
#tip_no7 {
	right: 77%;
width: 79%;
top: 51%;
}
#tip_yes7girl {
	top: 6%;
width: 39%;
left: 55%;
}
#tip_no7girl {
	width: 48%;
top: 52%;
left: 18%;
}

/* Page 8 */
#tip_yes8 {
	left: 80%;
top: 5%;
width: 75%;
}
#tip_no8 {
	width: 147%;
right: 46%;
top: 47%;
}
#tip_yes8girl {
	left: 34%;
top: 13%;
width: 45%;
}
#tip_no8girl {
	left: 52%;
top: 44%;
width: 37%;
}

/* Page 9 */
#tip_yes9 {
	top: 4%;
right: 85%;
width: 69%;
}
#tip_no9 {
	left: 74%;
width: 100%;
top: 56%;
}
#tip_yes9girl {
	top: 6%;
left: 16%;
width: 51%;
}
#tip_no9girl {
	left: 33%;
width: 38%;
top: 38%;
}

/* Page 10 */
#tip_yes10 {
	top: 5%;
left: 79%;
width: 62%;
}
#tip_no10 {
	right: 53%;
top: 44%;
width: 138%;
}
#tip_yes10girl {
	width: 41%;
left: 34%;
top: 11%;
}
#tip_no10girl {
	width: 32%;
left: 44%;
top: 45%;
}

/* Page 11 */
#tip_yes11 {
	left: 57%;
width: 105%;
top: 8%;
}
#tip_no11 {
	right: 45%;
width: 127%;
top: 62%;
}
#tip_yes11girl {
	width: 31%;
top: 20%;
left: 35%;
}
#tip_no11girl {
	left: 36%;
top: 35%;
width: 40%;
}

/* Page 12 */
#tip_yes12 {
	left: 50%;
width: 134%;
top: 9%;
}
#tip_no12 {
width: 149%;
top: 50%;
right: 50%;	
}
#tip_yes12girl {
	top: 13%;
width: 36%;
left: 22%;
}
#tip_no12girl {
	top: 43%;
left: 45%;
width: 34%;
}

/* Page 13 */
#tip_yes13 {
	width: 109%;
left: 25%;
top: 8%;
}
#tip_no13 {
	top: 47%;
right: 12%;
width: 146%;
}
#tip_yes13girl {
	left: 120%;
width: 45%;
top: 5%;
}
#tip_no13girl {
	right: 149%;
top: 41%;
width: 33%;
}