/* YANNG TIPS PICTURES */
.tip_image {
	position: absolute;
}

/* Page 1 */
#tip_yes1 {
	right: -97%;
	top: 3%;
	width: 124%;
}
#tip_no1 {
	right: 45%;
	top: 40%;
	width: 129%;
}
#tip_yes1girl {
	left: 29%;
	top: 13%;
	width: 42%;
}
#tip_no1girl {
	left: 60%;
	top: 52%;
	width: 36%;
}

/* Page 2 */
#tip_yes2 {
	left: 46%;
	width: 84%;
	top: 5%;
}
#tip_no2 {
	left: -97%;
	width: 154%;
	top: 55%;
}
#tip_yes2girl {
	left: 5%;
	width: 38%;
	top: 14%;
}
#tip_no2girl {
	left: 39%;
	width: 64%;
	top: 11%;
}